<project class="client">
  <project-header>
    <h3>{{this.name}}</h3>
  </project-header>
  <project-details onclick="app.state.toggleExtendedDetails(this)">
    <value-date>
      <label>&nbsp;</label>
      <value>{{this.accounting.valueText}}</value>
    </value-date>
    <owed>
      <label>Owed</label>
      <amount>{{this.accounting.owed}} <symbol>{{this.tokenDetails.symbol}}</symbol></amount>
    </owed>
    <deposited>
      <label>deposited</label>
      <amount>{{+this.deposited - +this.withdrawnClient}} <symbol>{{this.tokenDetails.symbol}}</symbol></amount>
    </deposited>
    <withdrawable>
      <label>withdrawable</label>
      <amount>{{this.accounting.withdrawableClient}} <symbol>{{this.tokenDetails.symbol}}</symbol></amount>
    </withdrawable>
  </project-details>
  <controls>
    <input type="button" onclick="app.state.deposit(this, '{{this.contractAddress}}', '{{this.projectID}}', {{this.tokenDetails.decimals}})" value="Deposit" class="{{+this.tokenDetails.allowance?'':'hidden'}}" />
    <input type="button" onclick="app.state.approve(this, '{{this.contractAddress}}', '{{this.token}}')" value="Approve {{this.tokenDetails.symbol}}" class="{{+this.tokenDetails.allowance?'hidden':''}}" />
    <input type="button" onclick="app.state.withdrawClient(this, '{{this.contractAddress}}', '{{this.projectID}}', {{this.tokenDetails.decimals}})" value="Withdraw" {{+this.accounting.withdrawableClient?'':'disabled=""'}} />
  </controls>
  <extended-details class="hidden">
    <h1>Extended details</h1>
    <ed-controls>
      <input type="button" onclick="app.state.clientEndProject()" value="Confirm project ended" />
    </ed-controls>
  </extended-details>
</project>