<form onsubmit="app.state.submitNewProject(); return false">
  <label>name</label>
  <input type="text" name="name" />
  <label>meta</label>
  <input type="text" name="meta" />
  <label>startDate</label>
  <input type="date" name="startDate" />
  <label>dueDate</label>
  <input type="date" name="dueDate" />
  <label>client</label>
  <input type="text" name="client" />
  <label>token</label>
  <input type="text" name="token" />
  <label>value</label>
  <input type="text" name="value" />
  <label>frequency</label>
  <input type="number" name="frequency" />
  <input type="submit" value="Create" />
</form>