@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
body, html {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'Radio Canada', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f2a39;
  color: #f4eeff;
}
page {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4em);
  max-width: 70em;
  margin-top: 6em;
}
header-holder {
  height: 6em;
  width: 100%;
  background: black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
header {
  width: calc(100% - 4em);
  max-width: 70em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header logo {
  font-size: 2em;
}
header logo:first-letter {
  letter-spacing: -.1em;
  font-size: 1.3em;
}
modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  justify-content: center;
  display: none;
}
modal {
  background: white;
  padding: 2em;
}
modal form {
  display: flex;
  flex-direction: column;
}
contracts h1 {
  font-size: 1.2em;
  margin: 1em;
}
input[type="button"] {
  height: 4em;
  border: 3px solid black;
  border-radius: 1em;
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 2em;
  background: #c9c2d9;
}
header input[type="button"], projects-header input[type="button"] {
  height: 2.5em;
}
contract {
  display: block;
  border: 1px solid #494f5c;
  background: #1a2231;
}
contract-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1em;
  padding: 1em;
}
projects-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
}
project {
  display: block;
  padding: 1em;
  background: #2d2d4a;
  display: grid;
  grid-template:
    'header header header header header header header header'
    'details details details details details details details controls';
  border-top: 1px solid #494f5c;
}
project.odd {
  background: #2d2d4a;
}
project-header {
  grid-area: header;
}
project-details {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  width: 100%;
}
project.client project-details {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
project-details symbol {
  font-size: 0.6em;
}
project-details value-date, project-details owed, project-details deposited, project-details withdrawable {
  display: flex;
  flex-direction: column;
}
project-details owed, project-details deposited, project-details withdrawable {
  text-align: center;
}
project-details owed amount, project-details deposited amount, project-details withdrawable amount {
  font-size: 2em;
}
project controls {
  grid-area: controls;
  display: flex;
  justify-content: flex-end;
}
.hidden {
  display: none;
}